<div class="page-header order-page">
  <div class="row">
    <div class="medium-12 columns">
      <h1>New Order Page</h1>
      <% if @client %>
      <h4><%=  @client.business_name %></h4>
      <% end %>
    </div>
  </div>  
</div>