<div class="page-header dress-page">
  <div class="row">
    <div class="medium-12 columns">
      <h1><%= @dress.name %></h1>
    </div>
  </div>  
</div>

<div class="row">
  <div class="medium-6 columns">
    <h2><%= @dress.name %></h2>
    <%= @dress.description %>
    £<%= @dress.rrp %>
  </div>
  <div class="medium-6 columns">
    <p>Image to go here eventually</p>
  </div>
</div>